<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <style>
        body {font-family: "Microsoft YaHei";}
        .title {text-align: center;font-size: 20px;line-height: 30px;}
        .sub_title {font-size: 16px;line-height: 30px;}
        .author {text-align: center;line-height: 40px;}
        .blank20 {height: 20px;}
    </style>
</head>
<body>
<div class="title">
    ${s_name}
</div>
<div class="author">
    添加时间：${add_time} 发布时间：${publish_time}
</div>
<div class="author">
    问卷开始时间：${start_time}  问卷结束时间：${end_time}
</div>
<div class="sub_title">
    ${description}
</div>
<div class="blank20"></div>
<div class="content">
    ${content}
</div>
</body>
</html>