.layout_table{margin-bottom:6px}
.left_td_space{padding-right:3px}
.right_td_space{padding-left:3px}
.top_td_space{padding-bottom:3px}
.bottom_td_space{padding-top:3px}

/* 专题内容样式表 */

/* 列表标题前红色方块 */
.li_icon_red_diamonds{text-indent:12px;background:url('/cms.files/design/images/list_icon.gif') -5px -0px no-repeat}

/* 列表标题前黑色方块 */
.li_icon_black_diamonds{text-indent:12px;background:url('/cms.files/design/images/list_icon.gif') -5px -32px no-repeat}

/* 列表标题前红色虚三角 */
.li_icon_red_triangle{text-indent:12px;background:url('/cms.files/design/images/list_icon.gif') -5px -66px no-repeat}

/* 列表标题前红色实三角 */
.li_icon_red_triangle_soild{text-indent:12px;background:url('/cms.files/design/images/list_icon.gif') -5px -102px no-repeat}

/* 无标识 */
.li_icon_none{text-indent:12px;}

/* 内容样式一 */
.div_content1{line-height:20px;font-size:12px;padding:0 3px}



/*图文列表*/
.p_title { font-size:12px; line-height:160%;}
.p_title a{ font-size:14px; line-height:24px;}

/*滚动图片*/
.marquee_pic_ul{}
.marquee_pic_ul li{ float:left; padding:0 2px;}
.marquee_pic_ul li p{ height:30px; text-align:center; line-height:28px;}


/*内容页：字段*/
#info_toptitle{ font-size:24px; line-height:32px; font-weight:bold; text-align:center; }
#info_title{ font-size:24px; line-height:32px; font-weight:bold; text-align:center; }
#info_subtitle{ font-size:20px; line-height:28px; text-align:center;}
.attribute{ line-height:30px; text-align:center;}
.info_content_opt{ line-height:20px; text-align:right;}
#info_source{ font-size:12px; padding-right:10px; }
#info_author{ font-size:12px; padding-right:10px;}
#info_hits{ color:#C30; padding-right:10px;}
#info_released_dtime{font-size:12px;}
#info_description{ font-size:14px; line-height:180%; text-indent:2em; border:1px solid #DEDEDE; padding:6px 10px; background-color:#fff; }
#info_video{ text-align:center;}/*视频展示区域*/
#info_pic{ text-align:center;}/*小组图展示区域*/
#info_content{line-height:180%;}
#info_content p{ text-indent:2em;}
#info_content div{ text-indent:2em;}
.info_content_small{ font-size:12px;}/*小字号*/
.info_content_small p{ font-size:12px;}/*小字号*/
.info_content_small div{ font-size:12px;}/*小字号*/
.info_content_mid{ font-size:14px;}/*大字号*/
.info_content_mid p{ font-size:14px;}/*大字号*/
.info_content_mid div{ font-size:14px;}/*大字号*/
.info_content_big{ font-size:16px;}/*大字号*/
.info_content_big p{ font-size:16px;}/*大字号*/
.info_content_big div{ font-size:16px;}/*大字号*/





