/* CSS Document */
.mainBox{ width:1000px; margin:0 auto;}
.mainBox960{ width:960px; margin:0 auto;}


/*导航样式*/
.module_nav_box .module_body{ height:30px; background-color:#D71010; padding-left:10px;}
.module_nav_box .commonNav_ul li{ float:left; padding:0 10px; font-size:14px; line-height:30px; font-weight:bold;}
.module_nav_box .commonNav_ul li a{ color:#fff; }

/*文章列表模块*/
.module_newsList_box1 .module_head{ background:url(title_red_1.gif) 0 0 no-repeat;}
.module_newsList_box1 .module_head .module_head_right{background:url(title_red_1.gif) right -34px no-repeat; height:34px; line-height:36px;overflow:hidden}
.module_newsList_box1 .module_head h2{ float:left; display:inline; color:#333; font-weight:bold; font-size:14px; margin-left:30px;}
.module_newsList_box1 .module_head span.more{ float:right; display:inline; margin-right:10px;}
.module_newsList_box1 .module_head span.more a{  color:#666; font-weight:normal; font-size:12px; text-decoration:none}

.module_newsList_box2 .module_head{ background:url(title_red_2.gif) 0 0 no-repeat;}
.module_newsList_box2 .module_head .module_head_right{background:url(title_red_2.gif) right -34px no-repeat; height:34px; line-height:36px;overflow:hidden}
.module_newsList_box2 .module_head h2{ float:left; display:inline; color:#333; font-weight:bold; font-size:14px; margin-left:20px;}
.module_newsList_box2 .module_head span.more{ float:right; display:inline; margin-right:10px;}
.module_newsList_box2 .module_head span.more a{  color:#666; font-weight:normal; font-size:12px; text-decoration:none}

.module_newsList_box3 .module_head{ background:url(title_red_3.gif) 0 0 no-repeat;}
.module_newsList_box3 .module_head .module_head_right{background:url(title_red_3.gif) right -34px no-repeat; height:34px; line-height:36px;overflow:hidden}
.module_newsList_box3 .module_head h2{ float:left; display:inline; color:#333; font-weight:bold; font-size:14px; margin-left:40px;}
.module_newsList_box3 .module_head h2 a{ color:#fff;}
.module_newsList_box3 .module_head span.more{ float:right; display:inline; margin-right:10px;}
.module_newsList_box3 .module_head span.more a{  color:#666; font-weight:normal; font-size:12px; text-decoration:none}

.module_newsList_box4 .module_head{ background:url(title_red_4.gif) 0 0 no-repeat;}
.module_newsList_box4 .module_head .module_head_right{background:url(title_red_4.gif) right -34px no-repeat; height:34px; line-height:36px;overflow:hidden}
.module_newsList_box4 .module_head h2{ float:left; display:inline; color:#333; font-weight:bold; font-size:14px; margin-left:30px;}
.module_newsList_box4 .module_head span.more{ float:right; display:inline; margin-right:10px;}
.module_newsList_box4 .module_head span.more a{  color:#666; font-weight:normal; font-size:12px; text-decoration:none}
.module_newsList_box4 .module_body{ border-left:1px solid #e0e0e0; border-right:1px solid #e0e0e0}
.module_newsList_box4 .module_foot{ background:url(title_red_4_btm.gif) 0 0 no-repeat; height:12px; overflow:hidden}
.module_newsList_box4 .module_foot_right{background:url(title_red_4_btm.gif) right -12px no-repeat; height:12px; overflow:hidden}

.module_newsList_box5 .module_head{ background:url(title_red_5.gif) 0 0 no-repeat;}
.module_newsList_box5 .module_head .module_head_right{background:url(title_red_5.gif) right -34px no-repeat; height:34px; line-height:36px;overflow:hidden}
.module_newsList_box5 .module_head h2{ float:left; display:inline; color:#333; font-weight:bold; font-size:14px; margin-left:30px;}
.module_newsList_box5 .module_head span.more{ float:right; display:inline; margin-right:10px;}
.module_newsList_box5 .module_head span.more a{  color:#666; font-weight:normal; font-size:12px; text-decoration:none}

/*文本区块*/
.module_text_box .module_head{ background:url(title_red_5.gif) 0 0 no-repeat;}
.module_text_box .module_head .module_head_right{background:url(title_red_5.gif) right -34px no-repeat; height:34px; line-height:36px;overflow:hidden}
.module_text_box .module_head h2{ float:left; display:inline; color:#333; font-weight:bold; font-size:14px; margin-left:30px;}
.module_text_box .module_head span.more{ float:right; display:inline; margin-right:10px;}
.module_text_box .module_head span.more a{  color:#666; font-weight:normal; font-size:12px; text-decoration:none}