<?xml version="1.0" encoding="UTF-8" ?>
<properties>  
   <variables>
    <variable name="classPath" value="${rootPath}/shared/classes"/>
  </variables>
  <variables>
    <variable name="img_bro_domain" value="www.nxszs.gov.cn"/>
  </variables>
   <category name="root_path"> 
     <property name="path" value="${rootPath}"/>
   </category>
   <category name="class_Path"> 
     <property name="path" value="${classPath}"/>
   </category>
   <category name="site_port">
   	 <property name="port" value=""/>	
   </category>
   <category name="org_save_type">
     <property name="type" value="db"/>
     <property name="rmi_ip" value="192.168.12.18"/>
     <property name="rmi_port" value="1102"/>
   </category>
   <category name="rmi_config">
     <property name="ip" value="127.0.0.1"/>
     <property name="port" value="1102"/>
   </category>
   <!-- 本机IP，同站群管理中的服务器注册中的IP一致 -->
   <category name="local_ip">
     <property name="ip" value="127.0.0.1"/>
   </category>
   <!-- 素材库站点路径 及访问域名 -->
   <category name="resource_server">
     <property name="save_path" value="${rootPath}/vhosts/218.21.45.99/ROOT"/>
     <property name="img_domain" value="${img_bro_domain}"/>
     <property name="image_width" value="550"/>
     <property name="image_pre_width" value="100"/>
   </category>
   <!-- 附件上传大小，根据应用来分 -->
   <category name="file_size">
     <property name="appeal" value="2097152"/>
   </category>
   <!-- 上传验证有效时间控制,单位为分钟 -->
	<category name="upload_check_times">
     <property name="value" value="15"/>
   </category>
<category name="proxy_server">
     <property name="value" value="apache"/>
   </category>  
 <category name="server_type">
     <property name="type" value="linux"/>
   </category>
   <category name="application_server_type">
     <property name="type" value="tomcat"/>
   </category>
   <category name="application_server_path">
     <property name="path" value="${rootPath}/as/tomcat"/>
   </category>   
   <category name="application_server_version">
     <property name="value" value="6.2"/>
   </category>
   <category name="apaceh_path">
     <property name="path" value="${rootPath}/as/apache"/>
   </category>
   <category name="hostRoot_path">
     <property name="path" value="${rootPath}/vhosts"/>
   </category>
   <category name="templet_path">
     <property name="path" value="/ROOT/WEB-INF/templet"/>
   </category>
   <category name="resource_file">
     <property name="path" value="${rootPath}/package/ci_setup.jar"/>
   </category>
   <category name="manager_path">
     <property name="path" value="${rootPath}/vhosts/common/manager"/>
   </category>
   <category name="wcm_files">
     <property name="path" value="${rootPath}/wcm.files"/>
   </category>   
   <!--
   <category name="log4jFile">
     <property name="path" value="${rootPath}/WEB-INF/classes/log4j.properties"/>
   </category>  
   -->
   <category name="log4jFile">
     <property name="path" value="${classPath}/log4j.properties"/>
   </category>
   <category name="jsonrpcFile">
     <property name="path" value="${classPath}/jsonrpc.properties"/>
   </category>  
   <!-- 自动获取相关信息条数 -->
    <category name="autoReleInfoCount">
     <property name="count" value="10"/>
   </category> 
   <category name="filter_jsp_page">
     <property name="1" value="/appeal/submit.jsp"/>
     <property name="2" value="/appeal/submitComment.jsp"/>
     <property name="3" value="/guestbook/submit.jsp"/>
	 <property name="3" value="/jsp/brow/SQSubmit.jsp"/>
	 <property name="3" value="/jsp/brow/searchSQ.jsp"/>
   </category>
</properties>
