BODY{margin:0 0}
TD,DIV{font-size:12px;}
SPAN{color:#292621}
.current_pos{COLOR: #804c20;}

A.CicroP846XZ_3443_2868_yplib_25_Local_page_a:link {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #804c20; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: 宋体; LETTER-SPACING: normal; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
A.CicroP846XZ_3443_2868_yplib_25_Local_page_a:visited {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #804c20; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: 宋体; LETTER-SPACING: normal; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
A.CicroP846XZ_3443_2868_yplib_25_Local_page_a:active {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #804c20; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: 宋体; LETTER-SPACING: normal; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
A.CicroP846XZ_3443_2868_yplib_25_Local_page_a:hover {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #804c20; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: 宋体; LETTER-SPACING: normal; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}

A:link {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px;  LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: 宋体; LETTER-SPACING: normal; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
A:visited {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: 宋体; LETTER-SPACING: normal; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
A:active {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px;  LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: 宋体; LETTER-SPACING: normal; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
A:hover {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px;  LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: 宋体; LETTER-SPACING: normal; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}

.table_border{border:1px solid #BB8D69;background:#F9F1E4}
.input_keyw{width:320px}
.blank12 {clear:both; height:12px; overflow:hidden; display:block;}
.td_border{border-bottom:1px solid #ADA799}

#img_result div{COLOR: #804c20;}