html{overflow:hidden}
body{background:#f7f7f7 none repeat scroll 0 0;font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",Arial Narrow,arial,serif;font-size:12px;overflow:hidden;text-align:center}
#banner{background:rgba(0,0,0,0) url(../images/banner_bg.jpg) repeat-x scroll center bottom;height:100px;width:100%}
#banner .banaerContent{height:100px;width:100%}
#top_right{padding-right:10px;width:130px}
#help_or_exit{height:15px;line-height:15px}
#help_or_exit a,a:active,a:hover,a:visited{text-decoration:none}
#sysname{color:#fff;font-family:"é»‘ä½“";font-size:20px;font-weight:700;letter-spacing:2px;line-height:27px;padding-left:1px;padding-right:20px}
#area_nav{background:rgba(0,0,0,0) url(../images/nav_bg.gif) repeat-x scroll 0 0;height:33px;width:100%}
#system_name{background:rgba(0,0,0,0) url(../images/nav_space_line.gif) no-repeat scroll right top;color:#0056ac;font-size:14px;font-weight:700;letter-spacing:1px;line-height:33px;text-align:left;text-indent:15px;width:217px}
.takeUp{background:rgba(0,0,0,0) url(../images/takeup.png) no-repeat scroll center center;cursor:pointer;height:16px;width:16px}
.takeDown{background:rgba(0,0,0,0) url(../images/takedown.png) no-repeat scroll center center;cursor:pointer;height:16px;width:16px}
#main_nav{height:33px;padding-left:9px}
#menu{position:relative;z-index:99}
#menu li{color:#2b2b2b;cursor:pointer;display:block;float:left;font-weight:700;height:27px;line-height:27px;position:relative;text-align:center;text-decoration:none;width:86px}
#menu li:hover{color:#454545}
#menu li.iehover{color:#454545}
#menu li.focused{background:rgba(0,0,0,0) url(../images/nav_bg_cur.gif) no-repeat scroll center center;color:#fff;display:block;font-weight:700;height:33px;line-height:33px;text-decoration:none;width:86px}
#menu li.focused:hover{color:#fff;text-decoration:none}
#menu li ul{background:rgba(0,0,0,0) url(../images/menu_down_bg.png) repeat-y scroll center center;border:1px solid #b2b2b2;display:none;left:0;padding:3px 0;position:absolute;top:100%;width:111px}
#menu ul li{display:block;width:100%}
#menu li:hover ul{display:block}
#menu li.iehover ul{display:block}
#menu li:hover li{background:rgba(0,0,0,0) none repeat scroll 0 0;color:#0a6d15;cursor:pointer;font-weight:400;height:21px;line-height:21px;text-align:left;text-indent:22px;width:100%}
#menu li:hover li:hover{background:rgba(0,0,0,0) url(../images/menu_down_bg_cur.png) repeat-y scroll center center;color:#fff}
#menu li.iehover li{background:rgba(0,0,0,0) none repeat scroll 0 0;color:#0a6d15;font-weight:400;height:21px;line-height:21px;text-align:left;text-indent:22px;width:100%}
#menu li.iehover li:hover{background:rgba(0,0,0,0) url(../images/menu_down_bg_cur.png) repeat-y scroll center center;color:#fff}
#menu li.iehover li.iehover{background:rgba(0,0,0,0) url(../images/menu_down_bg_cur.png) repeat-y scroll center center;color:#fff}
#top_menu li ul li.levelTop{background-color:#d6e5f8;color:#36b;font-weight:700;text-indent:10px}
#top_menu{height:auto;overflow:hidden}
#top_menu li{cursor:pointer;display:inline-block;float:left;font-weight:700;height:30px;line-height:23px;padding-top:40px;position:relative;text-align:center;text-decoration:none;width:90px}
#top_menu li:hover{color:#ba2636}
#top_menu li[id="2"]{background:rgba(0,0,0,0) url(../images/sysIcon.png) no-repeat scroll 28px 0}
#top_menu li[id="3"]{background:rgba(0,0,0,0) url(../images/sysIcon.png) no-repeat scroll -54px 0}
#top_menu li[id="5"]{background:rgba(0,0,0,0) url(../images/sysIcon.png) no-repeat scroll -130px 0}
#top_menu li[id="6"]{background:rgba(0,0,0,0) url(../images/sysIcon.png) no-repeat scroll -218px 0}
#top_menu li[id="4"]{background:rgba(0,0,0,0) url(../images/sysIcon.png) no-repeat scroll -298px 0}
#top_menu li[id="399"]{background:rgba(0,0,0,0) url(../images/sysIcon.png) no-repeat scroll -383px 0}
#top_menu li[id="226"]{background:rgba(0,0,0,0) url(../images/sysIcon.png) no-repeat scroll -300px 0}
#cms_ul{padding-left:15px;position:relative;z-index:98}
#cms_ul li{color:#fff;cursor:pointer;display:block;float:left;font-weight:700;height:23px;line-height:23px;position:relative;text-align:left;text-decoration:none;text-indent:22px;width:188px}
#cms_ul li:hover{color:#fc0}
#cms_ul li.iehover{color:#fc0}
#cms_ul li.focused{background:rgba(0,0,0,0) url(../images/cms_ul_title_bg.png) no-repeat scroll center center;color:#0a6d15;display:block;font-weight:700;height:23px;line-height:23px;text-decoration:none;width:188px}
#cms_ul li.focused:hover{color:#0a6d15;text-decoration:none}
#cms_ul li ul{background:rgba(0,0,0,0) url(../images/cms_ul_title_down_bg.png) repeat scroll 0 0;border:1px solid #b4c8db;display:none;height:300px;left:2px;overflow:auto;padding:3px 0;position:absolute;top:100%;width:363px}
#cms_ul ul li{display:block;float:left;font-size:12px;width:182px}
#cms_ul li:hover ul{display:block}
#cms_ul li.iehover ul{display:block}
#cms_ul li:hover li{background:rgba(0,0,0,0) none repeat scroll 0 0;color:#0a6d15;cursor:pointer;font-weight:400;height:21px;line-height:21px;text-align:left;text-indent:22px}
#cms_ul li:hover li:hover{background:rgba(0,0,0,0) url(../images/cms_ul_title_down_bg_cur.png) repeat-y scroll center center;color:#fff}
#cms_ul li.iehover li{background:rgba(0,0,0,0) none repeat scroll 0 0;color:#0a6d15;font-weight:400;height:21px;line-height:21px;text-align:left;text-indent:22px;width:182px}
#cms_ul li.iehover li:hover{background:rgba(0,0,0,0) url(../images/cms_ul_title_down_bg_cur.png) repeat-y scroll center center;color:#fff}
#cms_ul li.iehover li.iehover{background:rgba(0,0,0,0) url(../images/cms_ul_title_down_bg_cur.png) repeat-y scroll center center;color:#fff}
#area_main{width:100%}
#area_main .area_main_space{width:5px}
#area_nav_spaceline{clear:both;display:block;height:9px;overflow:hidden}
#area_left{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background:#f2f2f2 none repeat scroll 0 0;border-color:currentcolor #c4c4c4 #c4c4c4;border-image:none;border-style:none solid solid;border-width:0 1px 1px;width:209px}
#area_left #area_leftContent{height:100%;width:209px}
#leftMenuBox{padding:0 3px}
#area_cut{cursor:pointer;padding-top:128px;width:7px}
#nav_title{background:rgba(0,0,0,0) none repeat scroll 0 0;border-bottom:1px solid #c4c4c4;border-top:1px solid #c4c4c4;color:#1da02c;font-weight:700;height:29px;line-height:29px;overflow:hidden;text-align:left;text-indent:10px;text-overflow:ellipsis;width:209px}
#leftMenu{height:100%;overflow:auto}
.easyui-tree a{color:#323232;text-decoration:none}
.easyui-tree a:visited{color:#323232;text-decoration:none}
.easyui-tree a:hover{color:#323232;text-decoration:none}
.easyui-tree a:active{color:#323232}
#area_frame_tabs{background:#f2f2f2;height:42px;overflow:hidden;width:100%}
#area_frame_tabs .area_frame_tabs_left{background:#f2f2f2;height:42px}
#area_frame_tabs .area_frame_tabs_right{background:#f2f2f2;height:42px;overflow:hidden}
#tab_add{background:rgba(0,0,0,0) url(../images/tab_add.gif) no-repeat scroll 0 0;cursor:pointer;display:block;font-size:1px;height:21px!important;left:0;position:absolute;top:6px;width:19px;z-index:98}
.tabs-header{overflow:hidden;padding:0;position:relative}
.tabs-scroller-left{background:#e0ecff url(themes/default/images/tabs_leftarrow.png) no-repeat scroll 1px 5px;border:1px solid #8db2e3;cursor:pointer;display:none;font-size:1px;height:22px!important;left:0;position:absolute;top:5px;width:18px;z-index:999}
.tabs-scroller-right{background:#e0ecff url(themes/default/images/tabs_rightarrow.png) no-repeat scroll 2px 5px;border:1px solid #8db2e3;cursor:pointer;display:none;font-size:1px;height:22px!important;position:absolute;right:0;top:5px;width:18px;z-index:999}
.tabs{font-size:12px;height:42px;list-style-type:none;margin:0;overflow:hidden;padding:0 0 0 4px;width:100%;background:rgba(0,0,0,0) url(../images/tabs_select.png) no-repeat left;}
.tabs li{background: #f2f2f2;/* border-top-left-radius:5px; *//* border-top-right-radius:5px; */display:inline-block;float:left;margin:0 4px 0 0;padding:0;position:relative;/* border: solid 1px #c7c7c7; */text-align: center;font-weight: bold;color:#000000;font-size:14px;}
.tabs li div{/* background:rgba(0,0,0,0) url(../images/main_tab_left.gif) no-repeat scroll left center */}
.tabs li div div{/* ;background:rgba(0,0,0,0) url(../images/main_tab_right.gif) no-repeat scroll right center */}
.tabs li a.tabs-inner{border-top-left-radius:5px;border-top-right-radius:5px;color: #777777;display:inline-block;height: 42px;line-height: 42px;margin:0;padding:0 10px;text-align:center;text-decoration:none;white-space:nowrap;}


.tabs li.tabs-selected {border-top:2px solid #1DA02C;}
.tabs li.tabs-selected div {height:auto;overflow:hidden;}
.tabs li.tabs-selected div div {height:auto;overflow:hidden;}
.tabs li.tabs-selected a {color:#222222;font-weight:bold;outline:none;}
.tabs li.tabs-selected a:hover {cursor:default;pointer:default;}


.tabs-with-icon{padding-left:18px}
.tabs-icon{height:16px;left:10px;position:absolute;top:5px;width:16px}
.tabs-closable{padding-right:8px}
.tabs li a.tabs-close{background:rgba(0,0,0,0) url(themes/default/images/tabs_close.gif) no-repeat scroll 2px 2px;display:block;font-size:1px;height:11px;opacity:.6;padding:0;position:absolute;right:5px;top:7px;width:11px}
.tabs li a.tabs-close:hover{cursor:pointer;opacity:1}
.tabs li:hover{background:#f2f2f2;color:#000000}

#area_frame_local{height:3px;width:100%}
#area_frame_local .area_frame_local_left{height:3px;width:100%}
#area_frame_local .area_frame_local_right{color:#5280aa;height:3px;text-indent:10px;width:100%}
#area_frame_work{background-color:#f7f7f7;height:224px;width:100%}
#area_frame_work .area_frame_work_left{height:100%;width:100%}
#area_frame_work .area_frame_work_right{height:100%;width:100%}
#mainFrame{height:100%}
#area_frame_buttom{height:7px;width:100%}
#area_frame_buttom .area_frame_buttom_left{height:7px;width:100%}
#area_frame_buttom .area_frame_buttom_right{font-size:1px;height:7px;width:100%}
#copyright{color:#2b2b2b;height:16px;min-width:1024px}
.msg_left_div{float:left;height:139px;width:115px}
.msg_right_div{color:#1da02c;float:left;overflow:hidden;width:200px}
#msgAlert .alert_img{background:rgba(0,0,0,0) url(/sys/images/alert.png) no-repeat scroll center center}
#msgAlert .error_img{background:rgba(0,0,0,0) url(/sys/images/error.png) no-repeat scroll center center}
#msgAlert .wargin_img{background:rgba(0,0,0,0) url(/sys/images/wargin.png) no-repeat scroll center center}
#msgConfirm .back_img{background:rgba(0,0,0,0) url(/sys/images/confirm.png) no-repeat scroll center center}
