html{overflow-x:hidden}
body{background:#f7f7f7 none repeat scroll 0 0;margin-left:6px;margin-right:3px;margin-top:4px;text-align:left}
.width10{width:10px}
.width20{width:20px}
.width25{width:20px}
.width30{width:30px}
.width40{width:40px}
.width50{width:50px}
.width60{width:60px}
.width70{width:70px}
.width80{width:80px}
.width90{width:90px}
.width100{width:100px}
.width120{width:120px}
.width150{width:150px}
.width200{width:200px}
.width205{width:205px}
.width250{width:250px}
.width230{width:230px}
.width300{width:300px}
.width305{width:305px}
.width500{width:500px}
.width585{width:585px}
.table_option{width:100%}
.table_option tr{height:30px}
.table_option td{line-height:12px;padding:0}
.table_option td label{vertical-align:middle}
.inputUL li{float:left;padding:3px 20px 3px 0}
.inputUL label{vertical-align:middle}
.fromTabs{border-collapse:collapse;height:4px}
.list_tab{background:rgba(0,0,0,0) none repeat scroll 0 0;float:left;height:4px;margin:0 2px}
/*
.list_tab .tab_left{background:rgba(0,0,0,0) none repeat scroll 0 0;display:block;float:left;height:27px}
.list_tab .tab_right{background:rgba(0,0,0,0) none repeat scroll 0 0;cursor:default;display:block;float:left;height:27px;line-height:27px;padding:0 7px}
*/
.list_tab_cur{background:rgba(0,0,0,0) url(../images/list_tab_cur_bg.png) repeat-x scroll 0 0;float:left;height:0px;margin:0 2px;line-height:0px}

/*.list_tab_cur .tab_left{background:rgba(0,0,0,0) url(../images/list_tab_cur_left.gif) no-repeat scroll left center;height:27px}
.list_tab_cur .tab_right{background:rgba(0,0,0,0) url(../images/list_tab_cur_right.gif) no-repeat scroll right center;cursor:default;height:27px;line-height:27px;padding:0 7px}
*/
.list_tab_over{background:rgba(0,0,0,0) url(../images/list_tab_over_bg.gif) repeat-x scroll 0 0;float:left;height:27px;margin:0 2px}
.list_tab_over .tab_left{background:rgba(0,0,0,0) url(../images/list_tab_over_left.gif) no-repeat scroll left center;height:27px}
.list_tab_over .tab_right{background:rgba(0,0,0,0) url(../images/list_tab_over_right.gif) no-repeat scroll right center;cursor:default;height:27px;line-height:27px;padding:0 7px}
.table_border{border:1px solid #bfbfbf;border-collapse:collapse;width:100%}
.table_border thead tr{background-color:#f7f6f2;height:30px}
.table_border thead td{border-bottom:1px solid #bbccde;color:#000000;cursor:default;font-weight:700}
.table_border td{padding:0 7px}
.table_border tbody td{border-bottom:1px solid #efefef}



.fromTabs2{border-collapse:collapse;height:26px;float:left;line-height:26px;}
.fromTabs2 li{line-height:26px;height:26px;cursor: pointer;}
.fromTabs2 .list_tab{background:rgba(0,0,0,0) url(../images/btn_x4.png) repeat-x scroll 0 0;;float:left;height: 26px;margin:0 2px;line-height: 26px;float: left;padding:0 5px;text-align: center;}
.fromTabs2 .list_tab div{color: #ffffff;}
.fromTabs2 .list_tab_cur {background:rgba(0,0,0,0) url(../images/btn_x4.png) repeat-x scroll 0 0;float:left;height:0px;margin:0 2px;line-height:0px;height: 26px;line-height: 26px;text-align: center;padding:0 5px;color: #ffffff;}

.fromTabs2 .list_tab_cur div{color:#ffffff}
.fromTabs2 .list_tab_over{background:rgba(0,0,0,0) url(../images/btn_x4.png) repeat-x scroll 0 0;float:left;height:27px;margin:0 2px}


.fromTabs3{border-collapse:collapse;height:26px;float:left;line-height:26px;}
.fromTabs3 li{line-height:26px;height:26px;cursor: pointer;}
.fromTabs3 .list_tab{background:rgba(0,0,0,0) url(../images/btn_x4.png) repeat-x scroll 0 0;;float:left;height: 26px;margin:0 2px;line-height: 26px;float: left;width: 42px;text-align: center;}
.fromTabs3 .list_tab div{color: #ffffff;}
.fromTabs3 .list_tab_cur {background:rgba(0,0,0,0) url(../images/btn_x4.png) repeat-x scroll 0 0;float:left;height:0px;margin:0 2px;line-height:0px;height: 26px;line-height: 26px;text-align: center;width: 42px;color: #ffffff;}

.fromTabs3 .list_tab_cur div{color:#ffffff}
.fromTabs3 .list_tab_over{background:rgba(0,0,0,0) url(../images/btn_x4.png) repeat-x scroll 0 0;float:left;height:27px;margin:0 2px}

.tr_odd{background-color:#efefef;height:30px}
.tr_even{background-color:#fff;height:30px}
.tr_hover{height:30px}
.tr_selected{height:30px}
.table_form{border-collapse:collapse;width:100%}
.table_form th{border-collapse:collapse;color:#32609e;padding:4px;text-align:right;vertical-align:middle;white-space:nowrap;width:100px}
.table_form td{border-collapse:collapse;color:#32609e;padding:4px;text-align:left;vertical-align:middle}
.table_form td li{float:left;padding-right:20px}
.table_form td label{vertical-align:middle}
.table_form_th{border-collapse:collapse;color:#32609e;padding:4px;vertical-align:middle}
.table_form td input[type=radio]{margin-right:5px;vertical-align:middle}
.table_pageing{width:100%;line-height: 36px;color: #222222;}
.table_pageing tr{height:36px;line-height:36px;}
.table_pageing td{color: #222222;padding:0 7px;}
.table_pageing td a{color: #222222;text-decoration:none;}
.table_pageing td a:visited{color: #222222;text-decoration:none;}
.table_pageing td a:hover{color:#222222;text-decoration:underline}
.table_pageing td a:active{color:#222222}
.vLi{float:none}
.optUL li{display:block;float:left;height:16px;padding:0 3px;width:16px}
.optUL li.ico_edit{background:rgba(0,0,0,0) url(../images/page_edit.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_add{background:rgba(0,0,0,0) url(../images/page_add.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_add1{background:rgba(0,0,0,0) url(../images/page_add1.gif) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_delete{background:rgba(0,0,0,0) url(../images/page_delete.gif) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_Clear{background:rgba(0,0,0,0) url(../images/page_Clear.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_reduce{background:rgba(0,0,0,0) url(../images/page_reduce.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_view{background:rgba(0,0,0,0) url(../images/page_view.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_publish{background:rgba(0,0,0,0) url(../images/page_publish.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_cancel{background:rgba(0,0,0,0) url(../images/page_cancel.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_pass{background:rgba(0,0,0,0) url(../images/page_pass.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_nopass{background:rgba(0,0,0,0) url(../images/page_nopass.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_submit{background:rgba(0,0,0,0) url(../images/page_submit.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_pic{background:rgba(0,0,0,0) url(../images/page_pic.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_up{background:rgba(0,0,0,0) url(../images/move_up.gif) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_down{background:rgba(0,0,0,0) url(../images/move_down.gif) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_warn{background:rgba(0,0,0,0) url(../images/sq_warn.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_red{background:rgba(0,0,0,0) url(../images/sq_red.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_out{background:rgba(0,0,0,0) url(../images/sq_out.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_duban{background:rgba(0,0,0,0) url(../images/sq_duban.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_yello{background:rgba(0,0,0,0) url(../images/sq_yello.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_article{background:rgba(0,0,0,0) url(../images/mx_document.png) no-repeat scroll 0 0}
.optUL li.ico_pic{background:rgba(0,0,0,0) url(../images/mx_pictures.png) no-repeat scroll 0 0}
.optUL li.ico_video{background:rgba(0,0,0,0) url(../images/mx_film.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_link{background:rgba(0,0,0,0) url(../images/mx_link.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_gov{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_custom{background:rgba(0,0,0,0) url(../images/mx_custom.png) no-repeat scroll 0 0;cursor:pointer}
.optUL li.ico_lead{background:rgba(0,0,0,0) url(../images/mx_leader.png) no-repeat scroll 0 0}
.optUL li.ico_fuwu{background:rgba(0,0,0,0) url(../images/mx_fuwu.png) no-repeat scroll 0 0}
.MUL .ico_article{background:rgba(0,0,0,0) url(../images/mx_document.png) no-repeat scroll left center;padding-left:20px}
.MUL .ico_pic{background:rgba(0,0,0,0) url(../images/mx_pictures.png) no-repeat scroll left center;padding-left:20px}
.MUL .ico_video{background:rgba(0,0,0,0) url(../images/mx_film.png) no-repeat scroll left center;padding-left:20px}
.MUL .ico_link{background:rgba(0,0,0,0) url(../images/mx_link.png) no-repeat scroll left center;padding-left:20px}
.MUL .ico_lead{background:rgba(0,0,0,0) url(../images/mx_leader.png) no-repeat scroll left center;padding-left:20px}
.MUL .ico_fuwu{background:rgba(0,0,0,0) url(../images/mx_fuwu.png) no-repeat scroll left center;padding-left:20px}
.MUL .ico_gkftygs{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.MUL .ico_gkfflgw{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.MUL .ico_gkfldcy{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.MUL .ico_gkfxsjg{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.MUL .ico_gkfjggk{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.MUL .ico_gkfxzzf{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.MUL .ico_gkfbszn{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.MUL .ico_gov{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.MUL .ico_custom{background:rgba(0,0,0,0) url(../images/mx_custom.png) no-repeat scroll left center;padding-left:20px}
.ico_article{background:rgba(0,0,0,0) url(../images/mx_document.png) no-repeat scroll left center;padding-left:20px}
.ico_pic{background:rgba(0,0,0,0) url(../images/mx_pictures.png) no-repeat scroll left center;padding-left:20px}
.ico_video{background:rgba(0,0,0,0) url(../images/mx_film.png) no-repeat scroll left center;padding-left:20px}
.ico_link{background:rgba(0,0,0,0) url(../images/mx_link.png) no-repeat scroll left center;padding-left:20px}
.ico_lead{background:rgba(0,0,0,0) url(../images/mx_leader.png) no-repeat scroll left center;padding-left:20px}
.ico_fuwu{background:rgba(0,0,0,0) url(../images/mx_fuwu.png) no-repeat scroll left center;padding-left:20px}
.ico_gkftygs{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.ico_gkfflgw{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.ico_gkfldcy{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.ico_gkfxsjg{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.ico_gkfjggk{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.ico_gkfxzzf{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.ico_gkfbszn{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.ico_gkvideo{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.ico_gkpic{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.ico_gov{background:rgba(0,0,0,0) url(../images/mx_gov.png) no-repeat scroll left center;padding-left:20px}
.ico_custom{background:rgba(0,0,0,0) url(../images/mx_custom.png) no-repeat scroll left center;padding-left:20px}
.infoadd_area{height:21px}
.infoadd_area{position:relative;z-index:100}
.infoadd_area li{color:#333333;cursor:pointer;display:block;float:left;font-weight:700;height: 26px;line-height: 26px;position:relative;text-align:center;text-decoration:none;}
.infoadd_area li.focused{color:#369;display:block;font-weight:700;height:23px;line-height:23px;text-decoration:none}
.infoadd_area li.focused:hover{color:#369;text-decoration:none}
.infoadd_area li ul{background-color:#f2f2f2;border:1px solid #dddddd;display:none;left:0;padding:3px 0;position:absolute;top:100%}
.infoadd_area ul li{display:block}
.infoadd_area li:hover ul{display:block}
.infoadd_area li.iehover ul{display:block}
.infoadd_area li:hover li{color:#2e76d1;cursor:pointer;font-weight:400;height:21px;line-height:21px;margin:0 5px;text-align:left;width:80px}
.infoadd_area li:hover li:hover{background-color:#2e76d1;color:#333333}
.infoadd_area li.iehover li{color:#333333;font-weight:400;height:21px;line-height:21px;text-align:left;width:100%}
.infoadd_area li.iehover li:hover{color:#333333}
.infoadd_area li.iehover li.iehover{color:#333333}
.treeTableCSS thead th{border-bottom:1px solid #bfbfbf;padding:0 1.5em}
.treeTableCSS tr td .expander{background-position:left center;background-repeat:no-repeat;cursor:pointer;padding:0}
.treeTableCSS tr.collapsed td .expander{background-image:url(../images/toggle-expand-dark.png)}
.treeTable tr.expanded td .expander{background-image:url(../images/toggle-collapse-dark.png)}
.treeTableCSS tbody tr{background-color:#333333;height:25px}
.treeTable tr.accept,.treeTableCSS tr.selected{background-color:#2e76d1;color:#333333}
.treeTable tr.accept,.treeTableCSS tr.selected{background-color:#2e76d1;color:#333333}
.treeTable tr.collapsed.accept td .expander,.treeTableCSS tr.collapsed.selected td .expander{background-image:url(../images/toggle-expand-light.png)}
.treeTable tr.expanded.accept td .expander,.treeTableCSS tr.expanded.selected td .expander{background-image:url(../images/toggle-collapse-light.png)}
.treeTableCSS .ui-draggable-dragging{color:#000;z-index:1}
table.treeTableCSS tbody tr td{cursor:default;padding:0 1.5em}
table.treeTableCSS span{background-position:left center;background-repeat:no-repeat;padding:.2em 0 .2em 1.5em}
table.treeTableCSS span.file{background-image:url(../images/page_white_text.png)}
table.treeTableCSS span.folder{background-image:url(../images/folder.png)}
.wareList li{cursor:pointer;line-height:23px;padding-left:20px}
.wareList li.hover{border:1px solid #b2c7dc}
.wareList li.static{background:rgba(0,0,0,0) url(../images/ware_html.png) no-repeat scroll left center}
.wareList li.auto{background:rgba(0,0,0,0) url(../images/ware_clock.png) no-repeat scroll left center}
.wareList li.opt{background:rgba(0,0,0,0) url(../images/ware_cog.png) no-repeat scroll left center}
.wareList li.rss{background:rgba(0,0,0,0) url(../images/ware_rss.png) no-repeat scroll left center}
.wareList li.code{background:rgba(0,0,0,0) url(../images/ware_code.png) no-repeat scroll left center}
.imgList li{border:1px solid #f7f7f7;float:left;height:114px;margin-bottom:2px;margin-right:4px;overflow:hidden;padding:3px 0;text-align:center;width:105px}
.imgList li.select{border:1px solid #093}
.imgList li img{height:80px;width:100px}
.imgList li div{padding:5px 2px 0;text-align:left}
.imgList li div label{vertical-align:middle}
.imgListNoImg li{height:32px}
.imgListNoImg li img{display:none}
.detailList li{height:25px;margin-right:4px;overflow:hidden}
span.piclist{background:rgba(0,0,0,0) url(../images/sucai_piclist.png) no-repeat scroll left center;font-weight:700;padding-left:20px}
span.list{background:rgba(0,0,0,0) url(../images/sucai_list.png) no-repeat scroll left center;padding-left:20px}
span.detail_list{background:rgba(0,0,0,0) url(../images/sucai_detail_list.png) no-repeat scroll left center;padding-left:20px}
#SucaiListArea{overflow:auto}
.tree_list_none li{clear:both;float:none}
