<?xml version="1.0" encoding="UTF-8" ?>
<properties>
    <variables>
        <variable name="classPath" value="${rootPath}/shared/classes"/>
    </variables>
    <variables>
        <variable name="img_bro_domain" value=""/>
    </variables>
    <category name="have_apps">
        <property name="apps" value="system,org,cms,control,appeal"/>
    </category>
    <category name="root_path">
        <property name="path" value="${rootPath}"/>
    </category>
    <category name="class_Path">
        <property name="path" value="${classPath}"/>
    </category>
    <category name="site_port">
        <property name="port" value=""/>
    </category>
    <category name="org_save_type">
        <property name="type" value="db"/>
        <property name="rmi_ip" value="127.0.0.1"/>
        <property name="rmi_port" value="1102"/>
    </category>
    <category name="rmi_config">
        <property name="ip" value="127.0.0.1"/>
        <property name="port" value="1102"/>
    </category>
    <!-- 本机IP，同站群管理中的服务器注册中的IP一致 -->
    <category name="local_ip">
        <property name="ip" value="127.0.0.1"/>
    </category>
    <!-- 素材库站点路径 及访问域名 -->
    <category name="resource_server">
        <property name="public_path" value=""/> <!--如果此路径为空，则素材默认上传到默认域名下面，前提是img_bro_domain为空，负责上传到素材服务器上-->
        <!--<property name="public_path" value="${rootPath}/cms.files"/>--> <!--如果用此路径，则素材默认上传到cms.files下面，前提是img_bro_domain为空，负责上传到素材服务器上-->
        <property name="save_path" value="${rootPath}/vhosts/img.site.com/ROOT"/>
        <property name="img_domain" value="${img_bro_domain}"/>
        <property name="image_width" value="550"/>
        <property name="image_pre_width" value="100"/>
    </category>
    <!-- 附件上传大小，根据应用来分 -->
    <category name="file_size">
        <property name="appeal" value="2097152"/>
    </category>
    <!-- 上传验证有效时间控制,单位为分钟 -->
    <category name="upload_check_times">
        <property name="value" value="15"/>
    </category>
    <!-- 代理服务器类型 -->
    <category name="proxy_server">
        <property name="value" value="nginx"/>
    </category>
    <category name="server_type">
        <property name="type" value="linux"/>
    </category>
    <category name="application_server_type">
        <property name="type" value="tomcat"/>
    </category>
    <category name="application_server_path">
        <property name="path" value="${rootPath}/as/tomcat"/>
    </category>
    <category name="application_server_version">
        <property name="value" value="6.2"/>
    </category>
    <category name="apaceh_path">
        <property name="path" value="${rootPath}/as/apache"/>
    </category>
    <category name="nginx_path">
        <property name="path" value="${rootPath}/as/nginx"/>
    </category>
    <!--此属性只是针对windows服务器使用-->
    <category name="gm_path">
        <property name="path" value="${rootPath}/GraphicsMagick-1.3.21-Q8"/>
    </category>
    <!--此属性只是针对windows服务器使用-->
    <category name="hostRoot_path">
        <property name="path" value="${rootPath}/vhosts"/>
    </category>
    <category name="templet_path">
        <property name="path" value="/ROOT/WEB-INF/templet"/>
    </category>
    <category name="resource_file">
        <property name="path" value="${rootPath}/package/ci_setup.jar"/>
    </category>
    <category name="manager_path">
        <property name="path" value="/deya/admin/vhosts/common/sys"/>
    </category>
    <category name="cms_files">
        <property name="path" value="${rootPath}/cms.files"/>
    </category>
    <category name="log4jFile">
        <property name="path" value="${classPath}/log4j.properties"/>
    </category>
    <category name="jsonrpcFile">
        <property name="path" value="${classPath}/jsonrpc.properties"/>
    </category>
    <!-- 自动获取相关信息条数 -->
    <category name="autoReleInfoCount">
        <property name="count" value="10"/>
    </category>

    <!-- 搜索引擎中对查询关键字的转码配置   system：iso_8859_1ToSystem  gbk:iso_8859_1ToGbk  utf8:iso_8859_1ToUtf8-->
    <category name="searchCode">
        <property name="code" value="utf8"/>
    </category>
    <category name="filter_jsp_page">
        <property name="1" value="/appeal/submit.jsp"/>
        <property name="2" value="/appeal/submitComment.jsp"/>
        <property name="3" value="/guestbook/submit.jsp"/>
    </category>

    <category name="sso">
        <property name="syncOrgOrUserUrl" value="http://35.10.28.126:8005/Portal/services/syncOrgOrUserService?wsdl"/>
        <property name="reqident" value="TD96358447"/>
        <property name="forgcode" value="3110102"/>
        <property name="torgcode" value="3110gjj"/>
        <property name="certcode" value="yhadmin"/>
    </category>

</properties>
