<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 
	该文件通过代码生成器自动生成,只需编写模板,可以生成任何代码
     具体请查看: http://code.google.com/p/rapid-framework/
    author badqiu email:badqiu(a)gmail.com
-->

<mapper namespace="formMapper">


    <!-- 创建表 -->
    <!-- 
      create table T_ORG_ORG( ID VARCHAR2(100) not null,
                              UPID NUMBER(5) not null, 
                              DOWNID NUMBER(5) not null, 
                              constraint PK_T_ORG_ORG 
                              primary key (ID))
     -->
    <update id="createTable"  parameterType="java.util.HashMap">
        create table 
          <if test="tableName != null"> ${tableName} </if> 
        (id NUMBER(20) NOT NULL,primary key (id))
	</update>
	<update id="createTable_mysql"  parameterType="java.util.HashMap">
        create table 
          <if test="tableName != null"> ${tableName} </if> 
        (id bigint(20) NOT NULL,primary key (id))
	</update>
	<update id="createTable_mssql"  parameterType="java.util.HashMap">
        create table 
          <if test="tableName != null"> ${tableName} </if> 
        (id bigint NOT NULL,primary key (id))
	</update>
	
	<!-- 删除表 -->
	<!-- drop table test1 -->
	<update id="dropTable"  parameterType="java.util.HashMap">
        drop table <if test="tableName != null"> ${tableName} </if>
	</update>  
	<!-- update id="dropTable"  parameterType="java.util.HashMap">
		begin
		execute immediate ' drop table <if test="tableName != null"> ${tableName} </if> ';
		exception when others then
		null;
		end;
	</update  -->
	<update id="dropTable_mysql"  parameterType="java.util.HashMap">
        drop table if exists <if test="tableName != null"> ${tableName} </if>
	</update>
	<update id="dropTable_mssql"  parameterType="java.util.HashMap">
        if exists (select * from sysobjects where id = object_id(N'[dbo].[${tableName}]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)    
        drop table [dbo].[${tableName}] 
	</update>
	
    
    <!-- 添加字段 -->
    <!-- alter table test1 add name varchar(255) -->
   	<update id="addField"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        add 
           <if test="fieldName != null"> ${fieldName} </if>
           <if test="fieldType != null"> ${fieldType} </if>
	</update>
	<!--  Varchar 类型 -->
	<update id="addFieldVarchar"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        add 
           <if test="fieldName != null"> ${fieldName} </if>
        VARCHAR2(<if test="fieldSize != null"> ${fieldSize} </if>)
	</update> 
	<update id="addFieldVarchar_mysql"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        add 
           <if test="fieldName != null"> ${fieldName} </if>
        VARCHAR(<if test="fieldSize != null"> ${fieldSize} </if>)
	</update>
	<update id="addFieldVarchar_mssql"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        add 
           <if test="fieldName != null"> ${fieldName} </if>
        VARCHAR(<if test="fieldSize != null"> ${fieldSize} </if>)
	</update>
	<!--  Bigint 类型 -->
	<update id="addFieldBigint"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        add 
           <if test="fieldName != null"> ${fieldName} </if>
        NUMBER(<if test="fieldSize != null"> ${fieldSize} </if>) 
	</update>
	<update id="addFieldBigint_mysql"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        add 
           <if test="fieldName != null"> ${fieldName} </if>
        bigint(<if test="fieldSize != null"> ${fieldSize} </if>) 
	</update>
	<update id="addFieldBigint_mssql"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        add 
           <if test="fieldName != null"> ${fieldName} </if>
        bigint 
	</update>
	<!--  大字段 类型 -->
	<update id="addFieldLongtext"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        add 
           <if test="fieldName != null"> ${fieldName} </if>
        CLOB
	</update>
	<update id="addFieldLongtext_mysql"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        add 
           <if test="fieldName != null"> ${fieldName} </if>
        text
	</update>
	<update id="addFieldLongtext_mssql"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        add 
           <if test="fieldName != null"> ${fieldName} </if>
        text
	</update>
	
    <!-- 删除字段 -->
    <!-- alter table test1 drop COLUMN tel -->
   	<update id="deleteField"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        drop
        COLUMN 
           <if test="fieldName != null"> ${fieldName} </if>
	</update>
	
	<!-- 修改字段 -->
	<!-- alter table test1 Modify name longtext" -->
	<update id="modifyField"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        Modify 
           <if test="fieldName != null"> ${fieldName} </if>
           <if test="fieldType != null"> ${fieldType} </if>
	</update>
	<!-- 修改字段类型为Bigint -->
	<update id="modifyFieldTypeToBigint"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        Modify 
           <if test="fieldName != null"> ${fieldName} </if>
        NUMBER(<if test="fieldSize != null"> ${fieldSize} </if>) 
	</update>
	<update id="modifyFieldTypeToBigint_mysql"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        Modify 
           <if test="fieldName != null"> ${fieldName} </if>
        bigint(<if test="fieldSize != null"> ${fieldSize} </if>) 
	</update>
	<update id="modifyFieldTypeToBigint_mssql"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        Modify 
           <if test="fieldName != null"> ${fieldName} </if>
        bigint
	</update>
	<!-- 修改字段类型为Varchar -->
	<update id="modifyFieldTypeToVarchar"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        Modify 
           <if test="fieldName != null"> ${fieldName} </if>
        VARCHAR2(<if test="fieldSize != null"> ${fieldSize} </if>) 
	</update>
	<update id="modifyFieldTypeToVarchar_mysql"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        Modify 
           <if test="fieldName != null"> ${fieldName} </if>
        VARCHAR(<if test="fieldSize != null"> ${fieldSize} </if>) 
	</update>
	<update id="modifyFieldTypeToVarchar_mssql"  parameterType="java.util.HashMap">
        alter table 
           <if test="tableName != null"> ${tableName} </if>
        Modify 
           <if test="fieldName != null"> ${fieldName} </if>
        VARCHAR(<if test="fieldSize != null"> ${fieldSize} </if>) 
	</update>
	<!-- 修改字段类型bigint为Varchar -->
	<update id="modifyFieldTypeToVarchar1"  parameterType="java.util.HashMap">
         alter table ${tableName} add  ${fieldName}_cicrotemp VARCHAR2(${fieldSize}) 
	</update>
	<update id="modifyFieldTypeToVarchar2"  parameterType="java.util.HashMap">
         update ${tableName} set  ${fieldName}_cicrotemp=${fieldName}
	</update>
	<update id="modifyFieldTypeToVarchar3"  parameterType="java.util.HashMap">
         alter table ${tableName} drop column ${fieldName}
	</update>
	<update id="modifyFieldTypeToVarchar4"  parameterType="java.util.HashMap">
         alter  table ${tableName} rename column  ${fieldName}_cicrotemp to ${fieldName}
	</update>
	
	<update id="modifyFieldTypeToVarchar1_mysql"  parameterType="java.util.HashMap">
         alter table ${tableName} add  ${fieldName}_cicrotemp VARCHAR(${fieldSize}) 
	</update>
	<update id="modifyFieldTypeToVarchar2_mysql"  parameterType="java.util.HashMap">
         update ${tableName} set  ${fieldName}_cicrotemp=${fieldName}
	</update>
	<update id="modifyFieldTypeToVarchar3_mysql"  parameterType="java.util.HashMap">
         alter table ${tableName} drop column ${fieldName}
	</update>
	<update id="modifyFieldTypeToVarchar4_mysql"  parameterType="java.util.HashMap">
         alter  table ${tableName} change  ${fieldName}_cicrotemp ${fieldName} VARCHAR(${fieldSize})
	</update>
	
	<update id="modifyFieldTypeToVarchar1_mssql"  parameterType="java.util.HashMap">
         alter table ${tableName} add  ${fieldName}_cicrotemp VARCHAR(${fieldSize}) 
	</update>
	<update id="modifyFieldTypeToVarchar2_mssql"  parameterType="java.util.HashMap">
         update ${tableName} set  ${fieldName}_cicrotemp=${fieldName}
	</update>
	<update id="modifyFieldTypeToVarchar3_mssql"  parameterType="java.util.HashMap">
         alter table ${tableName} drop column ${fieldName}
	</update>
	<update id="modifyFieldTypeToVarchar4_mssql"  parameterType="java.util.HashMap">
         sp_rename  '${tableName}.[${fieldName}_cicrotemp]',  '${fieldName}',  'COLUMN' 
	</update>
	<!-- 修改字段类型bigint,varchar为longText -->
	<update id="modifyFieldTypeToLongText1"  parameterType="java.util.HashMap">
          alter table ${tableName} add  ${fieldName}_cicrotemp CLOB
	</update>
	<update id="modifyFieldTypeToLongText2"  parameterType="java.util.HashMap">
          update ${tableName} set  ${fieldName}_cicrotemp=${fieldName}
	</update>
	<update id="modifyFieldTypeToLongText3"  parameterType="java.util.HashMap">
          alter table ${tableName} drop column ${fieldName}
	</update>
	<update id="modifyFieldTypeToLongText4"  parameterType="java.util.HashMap">
          alter  table ${tableName} rename column  ${fieldName}_cicrotemp to ${fieldName}
	</update>
	
	<update id="modifyFieldTypeToLongText1_mysql"  parameterType="java.util.HashMap">
          alter table ${tableName} add  ${fieldName}_cicrotemp TEXT
	</update>
	<update id="modifyFieldTypeToLongText2_mysql"  parameterType="java.util.HashMap">
          update ${tableName} set  ${fieldName}_cicrotemp=${fieldName}
	</update>
	<update id="modifyFieldTypeToLongText3_mysql"  parameterType="java.util.HashMap">
          alter table ${tableName} drop column ${fieldName}
	</update>
	<update id="modifyFieldTypeToLongText4_mysql"  parameterType="java.util.HashMap">
          alter  table ${tableName} change  ${fieldName}_cicrotemp  ${fieldName} TEXT
	</update>
	
	<update id="modifyFieldTypeToLongText1_mssql"  parameterType="java.util.HashMap">
          alter table ${tableName} add  ${fieldName}_cicrotemp TEXT
	</update>
	<update id="modifyFieldTypeToLongText2_mssql"  parameterType="java.util.HashMap">
          update ${tableName} set  ${fieldName}_cicrotemp=${fieldName}
	</update>
	<update id="modifyFieldTypeToLongText3_mssql"  parameterType="java.util.HashMap">
          alter table ${tableName} drop column ${fieldName}
	</update>
	<update id="modifyFieldTypeToLongText4_mssql"  parameterType="java.util.HashMap">
          sp_rename  '${tableName}.[${fieldName}_cicrotemp]',  '${fieldName}',  'COLUMN'
	</update>
	
	
</mapper>
